Package: com.bensge.gesturesplus
Name: GesturesPlus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: bensge
Author: bensge
Section: Tweaks
